Source: set
Section: utils
Priority: extra
Maintainer: Debian Security Tools Packaging Team <pkg-security-team@lists.alioth.debian.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
Build-Depends: debhelper (>= 9), python-all, dh-python
Standards-Version: 3.9.8
Homepage: https://www.trustedsec.com/downloads/social-engineer-toolkit/
Vcs-Git: git://anonscm.debian.org/pkg-security/set.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-security/set.git

Package: set
Architecture: all
Depends: ${misc:Depends}, python, metasploit-framework, aircrack-ng, upx-ucl, ettercap-common, openssl, python-pexpect, python-impacket, python-crypto, python-pil, python-paramiko, python-pymssql, python-requests, libapache2-mod-php, python-openssl, python-pefile, python-qrcode
Recommends: apache2
Suggests: sendmail-bin
Description: Social-Engineer Toolkit
 The Social-Engineer Toolkit (SET) is an open-source 
 Python-driven tool aimed at penetration testing around 
 Social-Engineering.
